extends ../../layouts/default.pug 
block main 
    h1(class="mb-4") Chi tiết nhóm quyền
    
    if(record.title)
        h2(class="mb-4") Nhóm quyền:  <b> #{record.title} </b>
    if(record.description)
        div(class="mb-4") Mô tả ngắn: <b> !{record.description} </b>