.header{
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a:hover{
    text-decoration: solid!important;
    color: red!important;
    cursor: pointer!important;
}
.header .inner-logo a{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End header*/

.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 200px);
}

/* End sider*/

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sider .inner-menu ul li a{
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}
.sider .inner-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.sider .inner-menu ul li a:hover{
    background: #515151;
}

.badge-success{
    background: green;
}

.badge-danger{
    background: red;
}

.table img{
    max-width: 50px !important;
    /* height: 100%; */
    object-fit: cover;
}
.alert-hidden{
    display: none;
}

[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9000;
}
[show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes alert-hidden{
    from{
        right: 15px
    }
    to{
        right: -100%;
        display: none;
    }
}
[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* end show-alert */
[upload-image-preview]{
    width: 100px;
    object-fit: cover;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
#preview[src=""]{
    display: none;
}
[close-preview]{
    display: inline-block;
    border: 1px solid #000;
    padding: 4px;
    background: #ddd;
    cursor: pointer;
    border-radius: 12px;
}