extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug

block main 
    h1 Trang chủ
    //- p #{layoutProductCatagory}
    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head("Sản phẩm nổi bật")
            +products-grid(productsFeatured)
    
    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head("Sản phẩm mới")
            +products-grid(productsNew)
            